ion-button.button-outline{
  --background:var( --ion-color-facebook) !important;
  color: white !important;
  --background-activated:var( --ion-color-facebook) !important;
}
ion-button.button-solid{
  --background:var(--ion-color-google) !important;
  color: white !important;
  --background-activated:var(--ion-color-google) !important;

}

.horizontal-line{
  width: calc(100% - 10%);
  height: 3px;
  background: #f4f4f4;
  top: 28%;
  display: flex;
  align-self: center;
}
.label-class{
  justify-content: center;
  align-items: center;
  display: flex;
  align-self: center;
  position: absolute;
}
.footer-image{
  width: 35px;
}
.img-div{
  width: 30px !important;
  background: var(--ion-color-primary-contrast);
  border-radius: 50%;
  justify-content: center;
  display: flex;
  margin-left: 0% !important;
  height: 30px !important;
  align-items: center;
  color: #86888fb8;
  border: solid 1px;
  font-size: 15px;
}
ion-col.row-div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.button-width{
  width: calc(50% - 8px);
}
