<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" color="light">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button fill="solid" [routerLink]="['/register']">
        <ion-icon slot="start" name="person-circle"></ion-icon> Register </ion-button>
      <ion-button fill="solid" [routerLink]="['/login']">
        <ion-icon slot="start" name="enter-outline"></ion-icon> Login </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div id="container">
          <strong>Startseite</strong>
          <p>User Logged in? {{ isUserLoggedIn }}</p>

          <ion-card>
            <ion-card-content>
              <ion-badge color="secondary">Token: {{ userToken }}</ion-badge>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
